*{
  box-sizing:  border-box;

}
/*margin and padding*/
body{ 
  margin:3px;
  padding: 10px;
  overflow: scroll;
}
/*Style the header*/
.header{
  background-color: #f1f1f1;
  padding: 20px;
  color: white;
  background-image: url("99810.jpg");
  height: 280px;
  background-size:  cover;
}
/*Style the top navogation bar */

.topnav{
  overflow: hidden;
  background-color: #333;
  
}
/*changes link color*/

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 14px;
  
}
/*changes roll over color */

.topnav a:hover{
  background-color: #ddd;
  color: #000;

}
/*sub body bg */

.row{
  background-color: ghostwhite; 

}
/*Clear floats after the columns */

.row:after{
  content: "";
  display: table;
  clear: both;

}
/*Create three equal columns that flots next to each ither*/
.column{
  float: left;
  width: 33.33%;
  height: 50%;
  padding: 15px;

} 